.footer {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  &__logo {
    font-size: $h3-font-size;
    color: $first-color;
    font-weight: $font-semi-bold;
  }
  &__description {
    display: block;
    font-size: $small-font-size;
    margin: 0.25rem 0 $mb-3;
  }
  &__social {
    font-size: 1.5rem;
    color: $title-color;
    margin-right: $mb-2;
  }
  &__title {
    font-size: $h2-font-size;
    color: $title-color;
    margin-bottom: $mb-2;
  }
  &__link {
    display: inline-block;
    color: $text-color;
    margin-bottom: $mb-1;

    &:hover {
      color: $first-color;
    }
  }
  &__copy {
    text-align: center;
    font-size: $small-font-size;
    color: $text-color-light;
    margin-top: 3.5rem;
  }
}
