/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

$header-height: 3rem;

/*========== Colors ==========*/
$first-color: #069c54;
$first-color-alt: #048654;
$title-color: #393939;
$text-color: #707070;
$text-color-light: #a6a6a6;
$body-color: #fbfefd;
$container-color: #ffffff;

/*========== Font and typography ==========*/
$body-font: "Poppins", sans-serif;

$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

@media screen and (min-width: 768px) {
  $biggest-font-size: 4rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;

/*========== Margenes ==========*/
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
.dark-theme {
  $title-color: #f1f3f2 !important;
  $text-color: #c7d1cc !important;
  $body-color: #1d2521 !important;
  $container-color: #27302c !important;

  background: $body-color;
  h1,
  h2,
  h3 {
    color: #f1f3f2;
  }
  p {
    color: $text-color;
  }
  .show-menu,
  .l-header {
    background-color: $body-color;
  }
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: $text-color;
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;

  &-title,
  &-subtitle {
    text-align: center;
  }

  &-title {
    font-size: $h1-font-size;
    color: $title-color;
    margin-bottom: $mb-3;
  }

  &-subtitle {
    display: block;
    color: $first-color;
    font-weight: $font-medium;
    margin-bottom: $mb-1;
  }
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
}

/* Show menu */

/* Active menu */
.active-link {
  color: $first-color;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0.5);
  border-radius: 0.4rem;
  z-index: $z-tooltip;
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: $first-color-alt;
  }

  &__icon {
    font-size: 1.8rem;
    color: $body-color;
  }
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
