.menu {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $container-color;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
    padding: 0.75rem;
  }
  &__img {
    width: 100px;
    align-self: center;
    margin-bottom: $mb-2;
  }
  &__name,
  &__preci {
    font-weight: $font-semi-bold;
    color: $title-color;
  }
  &__name {
    font-size: $normal-font-size;
  }
  &__detail,
  &__preci {
    font-size: $small-font-size;
  }
  &__detail {
    margin-bottom: $mb-1;
  }
  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: 0.625rem 0.813rem;
    border-radius: 0.5rem 0 0.5rem 0;
  }
}
