.nav {
  max-width: 1024px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 40px;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: $body-color;
      transition: 0.4s;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 1rem 1rem;
      z-index: 10;
      transform: translateY(-200%);
      transition: all 0.7s ease-in-out;
    }
  }
  .show-menu {
    transform: translateY(0);
  }

  &__item {
    margin-bottom: $mb-2;
  }
  &__link,
  &__logo,
  &__toggle {
    color: $text-color;
    font-weight: $font-medium;
  }
  &__logo {
    &:hover {
      color: $first-color;
    }
  }
  &__link {
    transition: 0.3s;

    &:hover {
      color: $first-color;
    }
  }
  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}
